@import "../../SASS/reset";
@import "../../SASS/variables";





.documentation {
    h1 {
        background-color: $primary;
        padding: 10px;
        color:  $white;
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: 1.5px;
        border-radius: $radius;
    }
    h2{
        background-color: rgb(66, 152, 108);
        padding: 10px;
        color: white;
        text-transform: uppercase;
        font-weight: bolder;
        margin-bottom: 25px;
        letter-spacing: 1.5px;
        text-decoration: none;
        border-radius: $radius;
    }
    p{
        line-height: 1.5;
        margin: 30px 0;
    }
}