
// ______________ colors ______________ 

$primary : #0c3631;
$secondary : rgb(47 172 104);
$secondaryLight : #a6baae;
$yellow : #b9ae14;
$light:  #abb8c3;

$red : #c4381c ;
$text: #2b2f2f;
$light: #BFBFBF;




// shadow
$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


// radius
$radius: 5px;