
// ______________ colors ______________ 

$primary : #14433e;
$dark : #041d1a;
$secondary:  #63b66a;
$white: rgb(227, 227, 227);



// shadow
$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


// radius
$radius: 5px;