
// ______________ colors ______________ 

$primary : #127369;
$secondary : #291759;
$light:  #8AA6A3;
$red : #d32121;
$text: #2b2f2f;
$light: #BFBFBF;




// shadow
$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


// radius
$radius: 5px;