@import "../../../SASS/reset";
@import "../../../SASS/variables";


.sidenav {
    background-color: #14433e;
  
    color: white;
    width: 20%;
    position: fixed;
    padding: 0 10px;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 90px;
  
    ul {
        display: flex;
        flex-direction: column;
        height: 70%;
        margin-top: 50px;
        justify-content: space-around;
        li {
            a{
                
                font-size: 0.7rem;
                color: white;
                text-decoration: none;

            }
        }
    }
}