@import "../../../SASS/reset";
@import "../../../SASS/variables";


.sidenav {
    background-color: #14433e;
  
    color: white;
    width: 30%;
    position: fixed;
    padding: 0 10px;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 130px;
  
    ul {
        display: flex;
        flex-direction: column;
        height: 70%;
        margin-top: 1rem;
        justify-content: space-around;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0.5rem 0;
             display: block;
             width: 3rem
             
             
            a{
                display: block;
                font-size: 0.9rem;
                color: white;
                text-decoration: none;
               

            }
        }
    }
}

.ic{
    font-size: 1rem;
  display: block;

}


li:hover{
    color: $secondary;
}

.logo{
    height: auto;
    width: 100px;
    margin-top: 1rem;
    object-fit: contain;

}