@import "../../../SASS/reset";
@import "../../../SASS/variables";
@import "../../../SASS/mixins";

.modal {
  position: absolute;
  color: $white;
  border-radius: 1rem;
  padding: 1rem;
  top: 50%;
  left: 50%;
  max-width: 50rem;

  width: 100%;
  transform: translate(-50%, -50%);

}
// .btn-form-submit {
//   @extend %btn-form-submit;
// }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 99999;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.801);
}



.dialog_form { 

    display: flex;
  padding: 1rem 0.7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  min-height: 200px;
  background-color: $dark;
}

.close_modal {
  position: absolute;
   right: 0;
   background-color: #fff;
   width: 20px;
}