@import "../../../SASS/reset";
@import "../../../SASS/variables";
@import "../../../SASS/mixins";

.modal {
  position: absolute;
  color: $text;
  border-radius: 1rem;
  padding: 1rem 0;
  background-color: $primary;
  top: 50%;
  left: 50%;
  max-width: 40rem;
  font-size: 0.9rem;
  border: solid 3px $secondary;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 9999;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.801);
}



.dialog_form { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  min-height: 200px;

}

.close_modal {
  background-color: transparent !important;
  position: absolute;
  color: white;
   right: 2rem;

   top: 1rem;
   font-size: 2rem;
   width: 20px;
   &:hover{
    color: red;
   }
}

