@import "../../SASS/reset";
@import "../../SASS/variables";
@import "../../SASS/mixins";

.links-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  font-size: 25px;
  margin-bottom: 30px;
}

.btn-container {
  display: flex;
  width: 80%;
  justify-content: space-around;

  align-items: center;
}
