
@import "../../SASS/reset";
@import "../../SASS/variables";
@import "../../SASS/mixins";



.links_container {
display: flex;
justify-content: center;
width: 100%;
flex-direction: column;



}


.link {
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 900px;
    text-overflow: hiden;
    height: 38px;
    margin: 15px 0;
    p{
        background-color: $dark;
        width: 80%;
        color: rgb(223, 223, 223);
        padding: 10px;
        font-size: 15px;
        border-radius: 10px;
        text-overflow: hiden;
    }
    button{
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
  @include Primary_button
    }
}

h1{
    font-size: 25px;
    margin-bottom: 30px;
    
}
