@import "./SASS/reset";
@import "./SASS/variables";
@import "./SASS/mixins";

main {
  min-height: 100vh;
  padding: 0 2% 0 10rem;
 
  margin-bottom: 10rem;
  color: $dark;
  
}

.btn-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    margin: 0 1rem;
    cursor: pointer;
    background-color: $secondary;
  }
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.table-title {
  // background-color: rgb(189, 189, 189);
  color: $primary;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.table-title-item {
   background-color:$primary;
  color: white;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
.danger {
  background-color: rgba(182, 30, 30, 0.526);
  font-size: 0.6rem;
  font-weight: bolder;
  color: black;
  &::before {
    content: " ⚠️Ligne non pris en compte dans le rapport, car un champ est vide ou contient une erreur de saisie ⚠️";
}
}
.warning {
  background-color: rgba(182, 30, 30, 0.526);
  font-size: 0.9rem;
font-weight: bolder;
  color: black;

  &::before {
    content: " ⚠️ Cette ligne contient une erreur de saisie! La ligne entiere ne sera pas pris en compte dans le rapport ⚠️";
}
}

button {
@include Primary_button
}

.text_container {
  margin-top: 50px;

  p {
    text-align: center;
  }
}

th,
td {
  border: 1px solid #14433e;
  padding: 5px;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  
}

th {
  background-color: #63b66a;
  text-transform: uppercase;
  color: white;
}
.table-title{
  padding: 1rem;
}



.text_input {
  margin-bottom: 1rem;
  background: url('./image/add_input.svg') #ffffff 2.5% center no-repeat;
}


.form-modal{
  max-width: 500px;
  padding: 0 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  input {
    margin: 5px 0;
  }
  .btn-submit{
   width: 100%;
   margin-top: 1rem;
   border: 2px solid white;
   background-color: transparent;
   color: white;
   &:hover{
    background-color: $secondary;
    border: 2px solid  $secondary;
   }
  }
}





.form-modal{
  margin: 2rem 0;
  display: flex;
}