@import "./SASS/reset";
@import "./SASS/variables";
@import "./SASS/mixins";

main {
  min-height: 100vh;
  padding: 0 2% 0 8rem;
 
  margin-bottom: 10rem;
  color: $dark;
  background-color: #f1fbf6;
}

.btn-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    margin: 0 1rem;
    cursor: pointer;
    background-color: $secondary;
  }
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.table-title {
  background-color: rgb(42, 42, 42);
  color: white;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

button {
@include Primary_button
}

.text_container {
  margin-top: 50px;

  p {
    text-align: center;
  }
}

th,
td {
  border: 1px solid #14433e;
  padding: 5px;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

th {
  background-color: #63b66a;
  text-transform: uppercase;
  color: white;
}



.text_input {
  margin-bottom: 2rem;
  background: url('./image/add_input.svg') #ffffff 2.5% center no-repeat;
}


form{
  max-width: 500px;
  padding: 0 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  input {
    margin: 10px 0;
  }
}


.submit_btn {
  width: 100%;
}