@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,100;1,300&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "Poppins", sans-serif;
  background-color: #d4d9d8;
  color: #2b2f2f;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input, textarea {
  border: none;
  width: 100%;
  background-color: rgb(199, 199, 199);
  padding: 0.3rem;
  border-radius: 0.2rem;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

main {
  min-height: 100vh;
  padding: 0 2% 0 10rem;
  margin-bottom: 10rem;
  color: #2b2f2f;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.table-title {
  color: #2d3231;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.table-title-item {
  background-color: #2d3231;
  color: white;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.danger {
  background-color: rgba(182, 30, 30, 0.526);
  font-size: 0.6rem;
  font-weight: bolder;
  color: black;
}
.danger::before {
  content: " ⚠️Ligne non pris en compte dans le rapport, car un champ est vide ou contient une erreur de saisie ⚠️";
}

.warning {
  background-color: rgba(182, 30, 30, 0.526);
  font-size: 0.9rem;
  font-weight: bolder;
  color: black;
}
.warning::before {
  content: " ⚠️ Cette ligne contient une erreur de saisie! La ligne entiere ne sera pas pris en compte dans le rapport ⚠️";
}

.text_container {
  margin-top: 50px;
}
.text_container p {
  text-align: center;
}

th,
td {
  border: 1px solid #14433e;
  padding: 5px;
  color: #2b2f2f;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  margin-bottom: 150px;
}

th {
  background-color: #2d3231;
  text-transform: uppercase;
  color: #fff;
}

.table-page-container {
  padding: 0 2%;
}

.text_input {
  margin-bottom: 1rem;
  background: url("./image/add_input.svg") #ffffff 2.5% center no-repeat;
}

.form-modal {
  max-width: 500px;
  padding: 0 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-modal input {
  margin: 5px 0;
}

.form-modal {
  margin: 2rem 0;
  display: flex;
}

td .td-btn {
  width: auto;
  background-color: rgba(182, 30, 30, 0.526);
  margin: 1rem;
  color: black;
}

.table-title-item {
  display: flex;
  flex-direction: column;
  max-width: 480px;
}

.table-title-item-details {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
}
.table-title-item-details span {
  margin: 0 1rem;
  font-weight: bolder;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.add-entry {
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.add-entry input {
  margin: 1rem;
}

.table-page-hero {
  display: flex;
  margin: 10px 0 50px 0;
  font-weight: normal;
}
.table-page-hero .table-page-hero-text {
  flex: 1;
  text-align: center;
}

.link-content.horodated {
  background-color: #a6baae;
}

.header-link {
  display: flex;
  justify-content: space-between;
}
.header-link span {
  font-weight: Bolder;
}/*# sourceMappingURL=index.css.map */