@import "../../SASS/reset";
@import "../../SASS/variables";
@import "../../SASS/mixins";



.text_container {
    text-align: center;
  background-color: #fff;
  border: 3px solid $secondary;
    font-size: 0.9rem;
    border-radius: 10px;
    position: relative;
    padding: 1rem;
    margin-top: 5rem;
    p {
        margin: 0.5rem;
        line-height: 30px;
    }
    .icone{
        font-size: 60px;
        position: absolute;
        top: -3rem;
        
        color: #fff;
        background-color: $secondary;
        border-radius: 50%;
    }
}




.btn-container {

width: 100%;
  button {
    margin: 0 2rem;
  }
}