.text_container {
    text-align: center;
  
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    p {
        margin: 2rem;
        line-height: 30px;
    }
    .icone{
        font-size: 30px;
    }
}