@import "../../SASS/reset";
@import "../../SASS/variables";
@import "../../SASS/mixins";



.text_container {
    text-align: center;
  background-color: #fff;
    font-size: 0.9rem;
    border-radius: 10px;
    position: relative;
    padding: 1rem;
    p {
        margin: 0.5rem;
        line-height: 30px;
    }
    .icone{
        font-size: 60px;
        position: absolute;
        top: 0;
    }
}

.submit_btn{
 background-color: transparent !important;
 border: solid 2px white;
 height: 1.9rem;
 background-color: $primary;
 color: white;
  &:hover{
    background-color: $secondary ;
  }
 
}